{% extends "base.html" %}

{% block content %}


<h1 class="display-3 mt-5">My Bookings</h1>

{% for booking in bookings %}

<div class="container">

  {% if booking.approved is True %}

    <div class="row">
        <div class="col-md-8 mt-3 info mb-3 offset-md-2">
            <p>{{ booking.booking_date }}</p>
            <p>{{ booking.total_no_group }}</p>
            <p>{{ booking.activity_type }}</p>
            <h5>Booking name: {{ booking.forename }} <span class="btn btn-success btn-sm disabled">Approved</span></h5>
        </div>
    </div>
    {% else %} 

  <div class="row">
      <div class="col-md-8 mt-3 info mb-3 offset-md-2">
          <p>{{ booking.booking_date }}</p>
          <p>{{ booking.total_no_group }}</p>
          <p>{{ booking.activity_type }}</p>
          <h5>Booking name: {{ booking.forename }} <span class="btn btn-secondary btn-sm disabled">Waiting Approval</span></h5>

          <a href="/delete/{{ booking.id }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete? This can not be undone.')">Cancel</a>
          <a href="/edit_booking/{{ booking.id }}" class="btn btn-primary">Update</a>

      </div>
  </div>

{% endif %}

        
      </div>
      
    </div>
    

    {% endfor %}
    
    {% endblock %}